.maincontainer {
   
    width: 300px;
    height: 400px;
    --s: 40px; /* the size on the corner */
    --t: 2px;  /* the thickness of the border */
    --g: 10px; /* the gap between the border and image */
  


}
.horizontal_scroll {
    transform: rotate(-90deg);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
}
.horizontal_scroll > div {
   
    transform: rotate(90deg);
    transform-origin: right top;
}
.bg_yellow {
    
    color: #FFEE08;
    width: fit-content;
    
    background-color: #090909;
}

.stick{
    position: sticky;
    left: 20px;
    right: 10px;
}
@media (max-width:600px) {
    .stick {
        position: relative;
        
    }
}

.maincontainer:hover {
    outline-offset: calc(var(--g)/-1);
   
  }
.card_dec_bottom {
    width: fit-content;
}
.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.6s ease;
    
}

.thefront {
    
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 6px;
    color: #333;
    background: #FFEE08;
}
.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-color: aqua;
    border-width: 3px;
  
    background: aqua;
}
.rectangle {
    background: aqua;
    height: 25px;
    width: 100px;
    position: relative;
    display: inline-block;
    
}
.rectangle-black {
    background: black;
    border-top: #FFEE08;
    border-style: solid;
    height: 23px;
    width: 97px;
    position: relative;
    display: inline-block;
    
}
.altimage{
    width: 212.4px;
    height: 212.4px;
    background: #090909;
 
}
.triangle-r {
    width: 0;
    height: 0;
    border-left: 25px solid aqua;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #FFEE08;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.triangle-r-black {
    width: 0;
    height: 0;
    border-left: 25px solid #000000;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #000000;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.event_type_text{
    right: 10px
}
#eventbanner {
    width: 100vw;
    position: relative;
}
.card_overlay {
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
}
.triangle-l{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid #FFEE08;
    border-top: 25px solid #FFEE08;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.triangle-l-black{
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid black;
    border-top: 21px solid black;
    position: relative;
    top: 2;
    left: 2;
    right: 2;
    margin: auto;
}

.maincontainer:hover > .thecard {
    transform: rotateY(180deg);
    
}

