@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  color: #FFEE0B;
  background-color: #090909;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
  --yellow-color:#FFEE0B;
  --yellow-color-opacity: #f9f00242;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --blue-color: #0c5f74;
  --green-color: #298d29;
  --purple-color: purple;
  --neon-color: #39ff14;
  --black-color: transparent;
}
body * {
  font-family: "Advent Pro";
  font-weight: 600;


}
.italic {
  font-style: italic;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  cursor: default;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #090909;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.bg-yellow {
  background: #FFEE0B;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.cyberpunk {
  /* padding: 30px ;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px; */
  padding-top: 30px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));

  max-width: calc(100% - 10px);
}
.cyberpunk-flipped {
  /* padding: 30px ;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px; */
  padding-top: 30px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
 
  max-width: calc(100% - 10px);
  transform: scaleX(-1);
}




/* Section */
section.cyberpunk1 {  
  margin-top: -1px;
  margin-bottom: -1px;
}
section.cyberpunk_bvar {  
  margin-top: -1px;
  margin-bottom: -1px;
}
section.cyberpunk1:after,
section.cyberpunk1.black:after {
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: #090909;
  position: absolute;
  clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
}
section.cyberpunk_bvar:after,
section.cyberpunk1.black:after {
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: yellow;
  position: absolute;
  clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
}

section.cyberpunk.both:after,
section.cyberpunk.both.black:after {
  height: 100%;
  clip-path: polygon(
    0px 30%,
    30px calc(30% + 30px), 
    30px calc(100% - 30px), 
    22% calc(100% - 30px), 
    calc(22% + 30px) 100%, 
    52% 100%, calc(52% + 15px) 
    calc(100% - 15px), 
    70% calc(100% - 15px), 
    calc(70% + 15px) 100%, 
    90% 100%, 
    calc(90% + 30px) calc(100% - 30px), 
    100% calc(100% - 30px), 
    100% 100%, 
    0px 100%);
  /*background-color: red;*/
}

section.cyberpunk.black:after {
  background-color: var(--yellow-color);
}

section.cyberpunk.black {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

section.cyberpunk:before,
section.cyberpunk.black:before {
  content: " ";
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--yellow-color);
  position: absolute;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    70% 0px
  );
}

section.cyberpunk.both:before,
section.cyberpunk.both.black:before {
  height: 100%;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    0% 0%, 0% 10%, 
    30px calc(10% + 30px), 
    30px 100%, 
    0% 100%,
    0% 0%
  );
}

/*30px 0px,
    30px 50%,
    0px calc(50% + 30px),
    0px 80%,
    30px calc(80% + 30px),
    30px 100%,
    0% 100%, 0px 30px, 
    31px 0%*/

section.cyberpunk:before {
  background-color: var(--black-color);
}

section.cyberpunk:nth-child(even):after,
section.cyberpunk:nth-child(odd):before {
 transform: scaleX(-1);
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


